<section class="footer-newsletter">
  <div class="footer-newsletter__inner">
    <div class="footer_newsletter_text">
        <h3 class="footer-newsletter__title">Apunta’t a NAIS</h3>
          <p class="footer-newsletter__legal">
          *En proporcionar-nos el teu email, acceptes rebre comunicacions sobre nous llançaments, promocions i novetats exclusives. 
        </p>
    </div>
    <div class="footer_newsletter_form_section">
        <form 
          class="footer-newsletter__form"
          [formGroup]="newsletterForm"
          (ngSubmit)="onSubmit()">

          <input
            type="email"
            formControlName="email"
            placeholder="Introdueix el teu email"
            class="footer-newsletter__input"
          />

          <button 
            type="submit"
            class="footer-newsletter__button"
            [disabled]="newsletterForm.invalid">
            Subscriu‑te
          </button>
        </form>
    </div>
  

  </div>
</section>
